<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="VideoArchiveSuite">
    <test name="ServiceTest">
        <groups>
            <run>
                <include name="crud"/>
            </run>
        </groups>
        <classes>
            <class name="fh.aalen.test.PersonServiceTest"/>
            <class name="fh.aalen.test.VideoServiceTest"/>
            <class name="fh.aalen.test.SimpleTest"/>
        </classes>
    </test>
    <test name="DemoTests">
        <parameter name="greeting" value="Hello TestNG"/>
        <classes>
            <class name="fh.aalen.test.TestLifecycleDemo"/>
            <class name="fh.aalen.test.LibraryTest"/>
        </classes>
    </test>
</suite>